@using SearchUsingDropDownList.Models
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script>
    $(function () {


        $("#St").change(function () {
            $.get("/Home/GetCityByID",
                { ID: $("#St").val() },
                function (data) {
                    //$("#city").empty();
                    $.each(data,
                        function (index, row) {
                            $("#city").append(`<option value="${row.Id}">${row.CityNameEn}</option>`);
                        });
                });
        });
    });
</script>
<h2>Index</h2>
@using (Html.BeginForm("GetClinic","Home",FormMethod.Post))
{

    <select class="form-control" id="St" name="stateId">
        <option value="-1">Choose Governorate </option>
        @foreach (var count in (List<Governorate>)ViewBag.GovernorateName)
        {
        
            <option value="@count.Id">@count.GovNameEN</option>

        }
    </select>


    <select id="city" class="form-control" name="cityId">
        <option value="-1">Choose area</option>
    </select>

    <select class="form-control"  id="CaID" name="categoryid"> 
        <option value="-1">Choose Category </option>
        @foreach (var count  in  (List<Speciality>) ViewBag.SpecialityName)
        {
            <option value="@count.Id">@count.Name </option>

        }
    </select>

    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Get Data"/>
    </div>
}

